<div class="container h-75">
    <turn-indicator></turn-indicator>
    <div id="gameboard" class="fill" *ngIf="gameState.playersReady"> <!-- ENCAPSULATES THE BOARD -->
        <button type="submit" (click)="goToPlayerSelect()" class="btn btn-primary">Return to Player Select!</button>
        <button type="submit" (click)="saveGame()" class="btn btn-primary">Save Game</button>
        <div class="row" *ngFor="let row of gameState.board; let r = index">
            <div class="col-4 gb-cell border rounded"
                [ngClass]="{'x-cell' : gameState.board[r][c]==1,'o-cell' : gameState.board[r][c]==0 }"
                *ngFor="let cell of row; let c = index"
                (click)="placeMarker(r, c)">
                <div class="text-center"><i *ngIf="gameState.board[r][c]==1" class="fas fa-times fa-7x"></i></div>
                <div class="text-center"><i *ngIf="gameState.board[r][c]==0" class="far fa-circle fa-7x"></i></div>
            </div>
        </div>
    </div>
    <div id="player-select" class="fill" *ngIf="!gameState.playersReady">
        <div class="col-md-12 p-3 border rounded">
            <div>
                <h2 class="text-center">RULES</h2>
                <ul>
                    <li>
                        <span>Two Players Enter (thier names), only one may win!</span>
                    </li>
                    <li>
                        <span>Players take turn placing thier marker 'X' or 'O' in a 3x3 grid</span>
                    </li>
                    <li>
                        <span>A Player wins when they match 3 of thier marker in a row (Horizontal, Verticle, Diagonal)</span>
                    </li>
                    <li>
                        <span>Good luck and have fun!</span>
                    </li>
                </ul>
            </div>
            <form>
                <div class="form-group">
                    <label for="playerX-name-input">Player 1</label>
                    <input required class="form-control" id="playerX-name-input" maxlength="16" [(ngModel)]="playerXName" name="playerXName" placeholder="PLAYER 1">
                </div>
                <div class="form-group">
                    <label for="playerO-name-input">Player 2</label>
                    <input required class="form-control" id="playerO-name-input" maxlength="16" [(ngModel)]="playerOName" name="playerOName" placeholder="PLAYER 2">
                </div>
                <button type="submit" (click)="startGame()" class="btn btn-primary"
                        [disabled]="!playerXName || playerXName.length == 0 || !playerOName || playerOName.length == 0">
                        Let's Toe!
                </button>
                <button type="submit" (click)="gameExplorer()" class="btn btn-primary">Explore Games!</button>
            </form>
        </div>
    </div>
</div>
