@import "../styles/helper.scss";

//font size variables
$font-size-xxxl: rem(28);
$font-size-xxl: rem(26);
$font-size-xl: rem(24);
$font-size-l: rem(20);
$font-size-m: rem(16);
$font-size-s: rem(14);
$font-size-xs: rem(12);
$font-size-xxs: rem(10);
