/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: rgba(66, 66, 66, 0.77);
    // overflow: hidden;
}

.spacer-big {
    margin-bottom: 4em;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.w-33 {
    width: 33.33%;
}

.h-33 {
    height: 33%;
}

.fill {
    height: 100%;
    min-height: 100%;
}

// Fixing some position issues with swal2
.swal2-container {
  z-index: 1000;
}

.swal2-modal {
    // position: initial !important;
}

// fix for swal2 custom class for action button spacing
.swal2-actions .btn {
    margin-right: 1em;
}
