<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ static_url('favicon.ico') }}">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{{ static_url('runtime.js') }}"></script>
<script type="text/javascript" src="{{ static_url('polyfills.js') }}"></script>
<script type="text/javascript" src="{{ static_url('styles.js') }}"></script>
<script type="text/javascript" src="{{ static_url('vendor.js') }}"></script>
<script type="text/javascript" src="{{ static_url('main.js') }}"></script>
</body>
</html>
