<div id="game-explorer" class="container">
    <div *ngIf="games && games.length > 0">
        <button type="submit" (click)="goToPlayerSelect()" class="btn btn-primary">Return to Player Select!</button>
        <table id="game-explorer-list" class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Player X</th>
                <th scope="col">Player O</th>
                <th scope="col">Preview</th>
            </thead>
            <tbody>
                <tr *ngFor="let game of games; let rowNum = index">
                    <th scope="row">{{rowNum +1}}</th>
                    <td>{{game.attributes.players[0]}}</td>
                    <td>{{game.attributes.players[1]}}</td>
                    <td>
                        <div>{{game.attributes.board[0]}} {{game.attributes.board[1]}} {{game.attributes.board[2]}}</div>
                        <div>{{game.attributes.board[3]}} {{game.attributes.board[4]}} {{game.attributes.board[5]}}</div>
                        <div>{{game.attributes.board[6]}} {{game.attributes.board[7]}} {{game.attributes.board[8]}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!games || games.length == 0">
        <a>
            <div class="alert alert-warning" role="alert" (click)="goToPlayerSelect()">
              No games have been recorded yet! Click to return to player selection.
            </div>
        </a>
    </div>
</div>
